* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: auto;
    width: auto;
    background-image: url(./img/chihiro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*imagen fijada del tamaño de la pantalla*/
}

.tracker {
    position: fixed;
    transform: translate(-50%, -50%);
    width: 40px;
    z-index: 9999;
    pointer-events: none;
    transition: all .15s;
}

.tracker svg {
    width: 100%;
    height: 100%;
}

/* header {
    padding: 0% 20% 0% 20%;
    margin-top: 0%;
} */

.home-logo-marca {
    justify-content: flex-start;

}

.home-logo {
    display: flex;
    padding-top: 0%;
    margin-top: 0%;
    justify-content: center;
}


.buscador {
    width: 25%;
    padding: 6px;
    margin: 2% 30% 1% 37%;
    text-align: center;
    border-radius: 10px;
    background-color: #b6ddf8;

}



#selectorfilter {
    display: flex;
    /* color: rgb(15, 24, 75); */
    background-color: #b6ddf8;
    font-size: 100%;
    margin: 1% 30% 0% 37%;
    width: 25%;
    padding: 6px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.selectorfilter,
option {
    font-size: 100%;
    /* color: rgb(15, 24, 75); */
    background-color: #b6ddf8;
}

.curious-fact-button {
    width: 25%;
    padding: 6px;
    margin: 2% 30% 1% 37%;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: #b6ddf8;
    cursor: pointer;
}

#boton-refresh {

    /* justify-content: flex-start; */
    width: 100px;
    padding: 10px;
    margin: 0% 0% 0% 47%;
    cursor: pointer;
}

.curious-fact-button:hover {
    /* box-shadow: white; */
    background-color: rgb(216, 137, 164);
}

.poster-style {
    display: flex;
    padding: 0% 22% 5% 22%;
    justify-content: space-between;
    flex-wrap: wrap;
    /* align-items: baseline; */
}

.articlemovie:hover {
    box-shadow: 1px 0px 0px 5px rgb(216, 137, 164);
    cursor: pointer;
}

.articlemovie {
    /* display: block; */
    margin: 1%;
    padding: 1% 1% 1% 1%;
    background-color: #7aa5c1;
    border-radius: 10px;
    text-align: center;
}

.imgposter {
    height: 220px;
    width: 150px;
    border-radius: 10px;
}

.titleh3 {
    color: white;
    font-size: 10px;
    text-align: center;
}

.dateMovies {
    color: white;
    font-size: 12px;
}

footer {
    display: flex;
    flex-direction: column;
    margin: 1% 0% 0% 0%;
    margin-bottom: 3%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
}

.modal {
    display: flex;
    position: fixed;
    padding: 3% 2% 2% 2%;
    margin: 5% 5% 5% 5%;
    text-align: center;
    align-items: center;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 40%;
    height: 30%;
    left: 25%;
    top: 0;
    background-color: #8db4ce;
    border-radius: 10px;
    transform: translateY(50%);
    overflow-y: scroll;


}

.modal::-webkit-scrollbar {
    width: 10px;
}

.modal::-webkit-scrollbar-thumb {
    background-color: #24648f;
    border-radius: 50px;
}

.sinopsis {
    display: flex;
    position: fixed;
    text-align: center;
    left: 45%;
    top: 10%;
    color: white;

}

.cerrar {
    display: flex;
    position: fixed;
    top: 80%;
    left: 85%;
    padding: 1% 3%;
    color: white;
    background-color: #24648f;
    border-radius: 10px;
    font-size: 20px;
}

.cerrar:hover {
    background-color: rgb(216, 137, 164);
    cursor: pointer;
}



/*Media Queries */

@media screen and (min-width:480px) and (max-width:768px) {
    /*MEDIDA DISPOSITIVO MOVIL*/

    body {
        margin: 2% 2% 2% 2%;
        background-image: url(./img/chihiro.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

    }

    header {
        padding: 0% 5% 0% 5%;
        margin-top: 0%;
    }

    .home-logo {
        display: flex;
        padding-top: 2%;
        margin-top: 0%;
        justify-content: center;
    }

    .home-logo-marca {
        /*logo creado*/
        display: flex;
        margin: 5% 0% 5% 6%;
        justify-content: center;

    }

    .buscador {
        width: 60%;
        padding: 2%;
        margin: 2% 18% 1% 23%;
        margin-top: 5%;
        text-align: center;
        border-radius: 10px;
        background-color: #b6ddf8;

    }

    #boton-refresh {

        justify-content: flex-start;
        width: 100px;
        padding: 3%;
        margin: 0% 0% 0% 45%;
        cursor: pointer;
    }

    #selectorfilter {
        display: flex;
        color: rgb(15, 24, 75);
        background-color: #b6ddf8;
        font-size: 100%;
        margin: 2% 18% 1% 23%;
        width: 60%;
        padding: 2%;
        text-align: center;
        border-radius: 10px;
    }

    .selectorfilter,
    option {
        font-size: 100%;
        color: rgb(15, 24, 75);
        background-color: #b6ddf8;
    }

    .curious-fact-button {
        width: 60%;
        padding: 2%;
        margin: 2% 18% 1% 23%;
        text-align: center;
        border: none;
        border-radius: 10px;
        background-color: #b6ddf8;
        cursor: pointer;
    }

    .poster-style {
        display: flex;
        padding: 0% 11% 0% 17%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: baseline;
    }

    .articlemovie:hover {
        box-shadow: 1px 0px 0px 5px rgb(216, 137, 164);
    }

    .articlemovie {
        display: block;
        margin: 8%;
        padding: 1% 1% 1% 1%;
        background-color: #7aa5c1;
        border-radius: 10px;
        text-align: center;
    }

    .imgposter {
        height: 220px;
        width: 150px;
        border-radius: 10px;
    }

    .titleh3 {
        color: white;
        font-size: 10px;
        text-align: center;
    }

    .dateMovies {
        color: white;
        font-size: 12px;
    }

    footer {
        display: flex;
        flex-direction: column;
        margin: 1% 30% 0% 38%;
        margin-bottom: 3%;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .modal {
        display: flex;
        position: fixed;
        padding: 3% 4% 2% 4%;
        margin: 5% 10% 5% 10%;
        text-align: center;
        align-items: center;
        font-size: 13px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        width: 75%;
        height: 50%;
        left: 6%;
        top: 0;
        background-color: #8db4ce;
        border-radius: 10px;
        transform: translateY(50%);
        overflow-y: scroll;


    }

    .modal::-webkit-scrollbar {
        width: 10px;
    }

    .modal::-webkit-scrollbar-thumb {
        background-color: #24648f;
        border-radius: 50px;
    }

    .sinopsis {
        display: flex;
        position: fixed;
        text-align: center;
        left: 38%;
        top: 10%;
        color: white;

    }

    .cerrar {
        display: flex;
        position: fixed;
        top: 85%;
        left: 43%;
        padding: 1% 3%;
        color: white;
        background-color: #24648f;
        border-radius: 10px;
        font-size: 20px;
    }

}