* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: auto;
    width: auto;
    background-color: #5688b5;
}

header {
    width: 100%;
    height: 30%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

 .home1 .home-logo button {
    background-color: #5688b5;
    border: none;
    cursor: pointer;
}

@font-face {
    font-family: dream;
    src: url(/src/letras/Dreamline2.otf);
}


.home-phrase {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: dream;
}
.home-button {
    text-align: center;
}


 .home-button .films-button {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;

}

.buscador {
    width: 30%;
    padding: 6px;
    margin: 5% 30% 3% 35%;
    text-align: center;
    border-radius: 10px;

}

.selectorfilter {
    display:flex;
    transform:translate(840px, -80px);
    width: 10%;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.poster-style {
    display: flex;
    padding: 2% 22% 5% 22%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
   background-color: #502235;
}

.articlemovie{
    display: block;
    margin: 1%;
    padding: 1% 1% 1% 1%;
    background-color: rgb(76, 135, 184);
    border-radius: 10px;
}

.imgposter {
    height: 220px;
    width: 150px;
    border-radius: 10px;
}

.titleh3 {
    color: white;
    font-size:small;
    text-align: center;
    flex-flow: wrap column;
    
}

footer {
    margin-bottom: 1%;
    text-align: center;
    color: white;
}