* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: auto;
    width: auto;
    background-image: url(./img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    padding: 0% 20% 0% 20%;
    margin-top: 0%;
    background-color: #717aaf;
}

.home-logo {
    display: flex;
    padding-top: 2%;
    margin-top: 0%;
    justify-content: center;
}

.buscador {
    width: 25%;
    padding: 6px;
    margin: 2% 30% 1% 37%;
    text-align: center;
    border-radius: 10px;
}


#boton-refresh {
    width: 100px;
    padding: 10px;
    transform: translate(1150%, -99%);
    cursor: pointer;
}

#selectorfilter {
    display: flex;
    margin: 1% 30% 0% 37%;
    width: 25%;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.selectorfilter,option {
    color: aliceblue;
    background-color: #aba2e2;
}

.poster-style {
    display: flex;
    padding: 0% 22% 5% 22%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
}

.articlemovie:hover {
    box-shadow: 1px 0px 0px 5px rgb(216, 137, 164);
    cursor: pointer;
}

.articlemovie {
    display: block;
    margin: 1%;
    padding: 1% 1% 1% 1%;
    background-color: #837bbd;
    border-radius: 10px;
    text-align: center;
}

.imgposter {
    height: 220px;
    width: 150px;
    border-radius: 10px;
}

.titleh3 {
    color: white;
    font-size: 10px;
    text-align: center;
}

.dateMovies {
    color: white;
    font-size: 12px;
}

footer {
    margin-bottom: 0%;
    text-align: center;
    color: white;
    background-color: #998fdd;
}
/* MODAL */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
  }
  .modalDialog:target {
    opacity:1;
    pointer-events: auto;
  }
  .modalDialog > section {
    max-width: 800px;
    width: 90%;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 3px;
    background: #fff;
  }
  .close {
    font-family: Arial, Helvetica, sans-serif;
    background: #f26d7d;
    color: #fff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 34px;
    height: 34px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    padding-top: 5px;
  }
  .close:hover {
    background: #fa3f6f;
  }
  /* End MODAL */