*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #264b6b;
    
}

header {
    width: 100%;
}

.logo {
    display: flex;
    margin-top: 1%;
    justify-content: center;
}

.buscador{
    width: 90%;
    margin: 5%;
    text-align: center;
    max-width: 20%;
    padding: 5px;
    border-radius: 10px;

}

.poster-style{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
    text-align: center;
    font-size:small;

    }


    